body {
    margin: 0;
    overflow: hidden;
    background: #000;
  }
  
  a-scene {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    border: none;
  }
  